MANIFEST
build
mask_rcnn_coco.h5
dist
_build
docs/man/*.gz
docs/source/api/generated
docs/source/config.rst
docs/gh-pages
notebook/static/components
notebook/static/style/*.min.css*
notebook/static/*/js/built/
notebook/static/*/built/
notebook/static/built/
notebook/static/*/js/main.min.js*
notebook/static/lab/*bundle.js
node_modules
mask_rcnn_coco.h5
*.json
images/*
*.py[co]
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.tox
.DS_Store
\#*#
.#*
.coverage
src
*.swp
*.map
.idea/
Read the Docs
config.rst
venv
.venv
/.idea/*
/.ipynb_checkpoints/*
/__pycache__/*
/Lib/*
/Include/*
/Scripts/*
/share/*
/tcl/*
*.xml
/temp/*